/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General style rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General project style*/
    background-color: #3a3a3a;
}

/*Header Area*/
header {
    background-color: blue;
}

/*Main Area*/
main {
    background-color: lightblue;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/*Footer Area*/
footer {
    background-color: green;
}